# ==========================================
# 1. Derleme ve Düzenleyici Kalıntıları (Asla Yüklenme!)
# ==========================================
.pio/
.vscode/
firmware/.pio/
firmware/.vscode/
*.code-workspace

# Altium / Donanım Çıktı Kalıntıları
Reports/
Road Maps/
*.LOG
*.PcbDoc.htm

# ==========================================
# 2. Özel Kurallar (Sadece İstenenleri Al)
# ==========================================
# Altium output klasöründeki üretim dosyalarını yükle ama yedekleri/logları engelle
hardware/*
!hardware/output/